<%- include("header" ,header)%>

<%- include("content",content)%>
<h1>Welcome to <%= data.universityName %> </h1>
<h3>Computer Science Department </h3>
<ol>
    <% data.studentList.forEach(student=> { %>
        <li>
            <%= student.name %>- <%= student.dept %>
        </li>
        <% }) %>
</ol>

<%- include("footer" ,footer)%>


